
@{
    ViewBag.Title = "PaymentStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Payment Status</h2>
    <p>Transaction ID: @ViewBag.TransactionId</p>
    <p>Status: @ViewBag.Status</p>
</div>
